<div class="inmodal excelPopUp">
  <div class="show-content" ng-show="showContent">
    <div class="modal-header">
      <p class="modal-title">About the data</p>
    </div>

    <div class="modal-body modalMediaContainer">
      <textarea class="form-control" rows="10" ng-model="aboutData.description"></textarea>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-w-m btn-primary" ng-click="save(aboutData)">Save</button>
      <button type="button" class="btn btn-w-m btn-default" ng-click="close()">Close</button>
    </div>
  </div>

  <div class="ibox" ng-hide="showContent">
    <div class="ibox-content">
      <div class="spiner-example">
        <div class="sk-spinner sk-spinner-three-bounce">
          <div class="sk-bounce1"></div>
          <div class="sk-bounce2"></div>
          <div class="sk-bounce3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
