<div ng-if="listOfConvertImages.length || listOfQueueImages.length" class="wrapper wrapper-content progress-upload">
  <div class="progress-upload-ibox-tools" ibox-tools></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Processing of files</h5>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <div class="table-header">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th class="col-md-3">Name</th>
                  <th class="col-md-1">Size</th>
                  <th class="col-md-3">Status</th>
                  <th class="col-md-4">Progress</th>
                </tr>
                </thead>
              </table>
            </div>
            <div class="container-scroll">
              <table class="table table-striped">
                <tbody>
                  <tr ng-repeat="image in listOfConvertImages">
                    <td class="col-md-3">
                      <span class="convert-filtype-icon image">{{image.filename}}</span>
                    </td>
                    <td class="col-md-1">
                      <span class="label label-info">{{image.size}}</span>
                    </td>
                    <td class="col-md-3">
                      <span class="label label-primary status">{{image.queue}}</span>
                    <td class="col-md-4">
                      <progressbar
                        class="progress-striped active"
                        value="image.progress"
                        type="success">{{image.progress}}% / 100%</progressbar>
                    </td>
                  </tr>
                  <tr ng-repeat="image in listOfQueueImages">
                    <td class="col-md-3">
                      <span class="convert-file-type-icon image">{{image.filename}}</span>
                    </td>
                    <td class="col-md-1">
                      <span class="label label-info">{{image.size}}</span>
                    </td>
                    <td class="col-md-3">
                      <span class="label label-primary status">{{image.queue}}</span>
                    <td class="col-md-4">
                      <progressbar
                        class="progress-striped active"
                        value="image.progress"
                        type="success">{{image.progress}}% / 100%</progressbar>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
