<div class="inmodal">
  <div class="modal-header">
    <p class="modal-title">Questions in form:<b>{{::name}}</b></p>
  </div>
    <div class="modal-body">
      <div class="ibox float-e-margins questionsInform">
        <div class="ibox-content">
          <div ng-if="loadPage" class="spiner-container">
            <div class="sk-spinner sk-spinner-three-bounce">
              <div class="sk-bounce1"></div>
              <div class="sk-bounce2"></div>
              <div class="sk-bounce3"></div>
            </div>
          </div>
          <tabset justified="true">
            <tab heading="Selected">
              <div class="table-header">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-1">QId</th>
                    <th class="col-md-3">Question</th>
                    <th class="col-md-5">Description</th>
                    <th class="col-md-1">Type</th>
                    <th class="col-md-1">Hide</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="tab-container" ng-style="styleModal()" resize-questions-in-forms>
                <table class="table table-striped">
                  <tbody class="table table-striped" ng-mouseup="dropQuestion()">
                  <tr ng-repeat="question in questions | orderBy:'position':false"
                      ng-if="question.checkForm"
                      ng-mousedown="putQuestion($event, question)"
                      ng-mouseover="over($event, question)">
                    <td class="col-md-1">

                      <div class="checkbox checkbox-success checkbox-circle">
                        <input type="checkbox" ng-model="question.checkForm" ng-change="changeCheckbox(question)">
                        <label></label>
                      </div>
                    </td>
                    <td class="col-md-1 breakWord">{{::question.id}}</td>
                    <td class="col-md-3 breakWord">{{::question.name}}</td>
                    <td class="col-md-5 breakWord">{{::question.description}}</td>
                    <td class="col-md-1">{{::question.type}}</td>
                    <td class="col-md-1">
                      <label class="ios7-switch sm">
                        <input type="checkbox"
                               ng-model="question.hidden">


                        <div></div>
                      </label>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab heading="Unselected">
              <div class="table-header">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th class="col-md-1">Add</th>
                    <th class="col-md-1">QId</th>
                    <th class="col-md-4">Question</th>
                    <th class="col-md-5">Description</th>
                    <th class="col-md-1">Type</th>
                  </tr>
                  </thead>
                </table>
              </div>
              <div class="tab-container" ng-style="styleModal()" resize-questions-in-forms>
                <table class="table table-striped">
                  <tbody class="table table-striped">
                  <tr ng-repeat="question in questions | orderBy:'position':false"
                      ng-if="!question.checkForm">
                    <td class="col-md-1">
                      <div class="checkbox checkbox-success checkbox-circle">
                        <input type="checkbox" ng-model="question.checkForm" ng-change="changeCheckbox(question)">
                        <label></label>
                      </div>
                    </td>
                    <td class="col-md-1 breakWord">{{::question.id}}</td>
                    <td class="col-md-4 breakWord">{{::question.name}}</td>
                    <td class="col-md-5 breakWord">{{::question.description}}</td>
                    <td class="col-md-1">{{::question.type}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-w-m btn-primary" ng-click="save()">Save</button>
      <button type="button" class="btn btn-w-m" ng-click="cancel()">Close</button>
    </div>
</div>
