<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Forms</h2>
  </div>
</div>

<div class="wrapper wrapper-content ecommerce">
  <div class="ibox-content m-b-sm border-bottom">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label class="control-label" for="search">Search:</label>
          <input type="text" id="search"
                 name="search"
                 ng-model="search.name"
                 placeholder="Please enter search term"
                 class="form-control">
        </div>
      </div>
      <div class="col-sm-9">
        <div class="form-group text-right addItem">
          <button ng-click="addForms()" class="btn btn-primary btn-circle btn-lg" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="table-responsive">
            <div ng-if="loadPage" class="spiner-container">
              <div class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
              </div>
            </div>
            <div class="table-header" ng-show="forms.length || loadPage">
              <sort-table-header
                class="table table-striped table-bordered table-hover dataTables-example ng-isolate-scope dataTable"
                sort="sort" cells="::tableHeader"></sort-table-header>
            </div>
            <div class="container-scroll" ng-style="style()" resize>
              <table class="table table-striped table-bordered table-hover dataTables-example vertical-middle"
                     infinite-scroll="nextForms(18)"
                     infinite-scroll-container='".container-scroll"'>
                <tbody>
                <tr ng-repeat="form in forms">
                  <td class="col-md-3">
                  <span editable-text="form.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, $index)"
                        e-required>
                    {{form.name || 'empty'}}
                  </span>
                  </td>
                  <td class="col-md-4">
                  <span editable-textarea="form.description" e-name="description" e-form="rowform" e-required>
                    {{ form.description || 'empty' }}
                  </span>
                  </td>
                  <td class="col-md-2">
                    <span>{{ form.questionsCount || '0' }} questions</span>
                  <span class="buttons pull-right" ng-show="rowform.$visible">
                    <button class="btn btn-primary btn-circle btn-sm" ng-click="editQuestionsForm(form)">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                  </span>
                  </td>
                  <td class="col-md-1 text-center">
                    <form editable-form name="rowform" onbeforesave="saveForm($data, form)" ng-show="rowform.$visible"
                          class="form-buttons form-inline" shown="inserted == form">
                      <button type="submit" ng-disabled="rowform.$waiting"
                              class="btn btn-primary btn-circle btn-sm">
                        <i class="fa fa-check"></i>
                      </button>
                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                              class="btn btn-default btn-circle btn-sm">
                        <i class="fa fa-sign-out"></i>
                      </button>
                    </form>
                    <a ng-show="!rowform.$visible"
                       ng-if="removeField"
                       ng-click="rowform.$show()"
                       class="btn btn-primary btn-circle btn-sm">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a ng-show="!rowform.$visible"
                       ng-if="removeField"
                       ng-click="removeForm(form)"
                       class="btn btn-danger btn-circle btn-sm">
                      <i class="glyphicon glyphicon-remove"></i>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div ng-if="loadPaging" class="sk-spinner sk-spinner-three-bounce">
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
              </div>
              <div class="alert alert-danger" ng-if="!forms.length&&!loadPage">
                Forms for this search term not found.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
