<div class="row">
    <div class="createNew col-md-4">
        <!-- serverUrl  -->
        <form  class="col-md-12" action="/upload/places/csv" method="post"
               enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputFiles">Upload places csv file</label>
                <input id="exampleInputFiles" type="file" name="file"/>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    <div class="createNew col-md-4">
        <!-- serverUrl  -->
        <form class="col-md-12" action="/upload/kts/csv" method="post"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputFile">Upload ktn csv file</label>
                <input id="exampleInputFile" type="file" name="file"/>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>

<red></red>
