<div class="inmodal">
  <div class="modal-header">
    <p class="modal-title" ng-bind-html="title"></p>
  </div>

  <div class="modal-body modalMediaContainer">
    <img ng-src="{{replaceUrl(image.image)}}" alt="">

    <label class="isSkipPopUpShow" ng-hide="isSkipPopUpShow"><input type="checkbox" ng-model="isSkipPopUp">Do not ask me
      this again?</label>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-w-m btn-primary" ng-click="ok(isSkipPopUp)">Yes</button>
    <button type="button" class="btn btn-w-m btn-default" ng-click="close()">No</button>
  </div>
</div>

